@using scoutfjallstugan.se.Models
@{
    ViewBag.Title = "Scout Fjällstugan";
}
 
@section featured {
  <div class="jumbotron">
    <div class="container">
      <h1>@ViewBag.Title.</h1>
      <h2>@ViewBag.Message</h2>
    </div>
  </div>
}
