@{
    ViewBag.Title = "Scout Fjällstugan";
}
 
@section featured {
  <div class="jumbotron">
    <div class="container">
      <h1>@ViewBag.Title.</h1>
      <h2>@ViewBag.Message</h2>
    </div>
  </div>
}
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Program</h2>
    <ul>
      <li>24 oktober FN-TEMA</li>
      <li>31 oktober Höstlov</li>
      <li>7 november Patrullkväll</li>
      <li>14 november Utebio</li>
      <li>21 november Inför adventsbasar</li>
      <li>28 november Temakväll m märkestagning</li>
      <li>5 december Mörkerspårning</li>
      <li>12 december Avslutning m märkesutdelning</li>
    </ul>
    
    
  </div>
  <div class="col-md-4">
    <h2>Utebio på torsdag!</h2>
    <p>Ta på varma varma kläder och ta med något att sitta på.</p>
    
  </div>
  <div class="col-md-4">
    <h2>Adventsbasar</h2>
    <p>Lördagen den 30 november är det adventsbasar på Fjällstugan. Lotterier, chokladhjul, adventspyssel, fika, mat och mycket mer! Välkomna!</p>
    <p><a class="btn btn-default" href="http://fjallstugan.se">Läs mer &raquo;</a></p>
  </div>
</div>